<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<%= stylesheet_link_tag "posts.css" %>
<div class="container mb80">
    <%@posts.each do |post|%>
        <div class="page-timeline">
            <div class="vtimeline-point">
                <div class="vtimeline-icon">
                    <i class="fa fa-image"></i>
                </div>
                <div class="vtimeline-block">
                    <span class="vtimeline-date"><%=post.created_at%></span><div class="vtimeline-content">
                        <a href="#"><h3><%=post.title%></h3></a>
                        <ul class="post-meta list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-user-circle-o"></i> <a href="#">by <%= link_to post.user.username, user_path(post.user) if post.user %></a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-calendar-o"></i> <a href="#"><%=post.updated_at%></a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-tags"></i> <a href="#">Bootstrap4</a>
                            </li>
                        </ul>
                        <p>
                            <%=truncate(post.body, length: 100)%>
                        </p><br>
                        <%if logged_in?%>
                            <%= link_to 'Show', post_path(post), class: "btn btn-outline-secondary btn-sm"%>
                            <%= link_to 'Comment', new_comment_path(post_id: post.id), class: "btn btn-outline-secondary btn-sm"%>
                            <%if !is_post_favourite?(post.id)%>
                                <%= link_to 'Favourite', add_post_to_favourite_path(post_id: post.id), class: "btn btn-outline-secondary btn-sm"%>
                            <%else%>
                                <%= link_to 'UnFavourite', remove_post_from_favourites_path(post_id: post.id), class: "btn btn-outline-secondary btn-sm", method: :delete%>
                            <%end%>
                            <%if post.user == current_user%>
                                <%= link_to 'Edit', edit_post_path(post), class: "btn btn-outline-secondary btn-sm"%>
                                <%= link_to 'Delete', post_path(post), class: "btn btn-outline-secondary btn-sm", method: :delete, data: { confirm: "Are you sure?" } %>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    <%end%>
</div>


<!-- source: https://www.bootdey.com/snippets/view/bs4-blog-timeline -->